body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    line-height: 1.6;
    background-image: url('images/Coverpage_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;        /* stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* black with 40% opacity */
    z-index: -1;            /* behind content */
}

h1,p {
    color: #f1f1f1;
}

h2 {
    margin-top: 40px;
    color: #f1f1f1;
}
